
.full-width {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#body-container {
    padding: 10px 25px;
}

#header-top {
    background-color: #9E9E9E;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    border-bottom: #333 solid 1px;
}

#nav-container {
    background-color: #9E9E9E;
}

#nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

    #nav-container li {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 20pt;
    }

        #nav-container li a {
            margin: 10px 25px;
            color: #000000;
            text-decoration: none;
        }
        #nav-container li a:hover {
            color: #000000;
        }

        #nav-container li ul.sub-menu {
            position: absolute;
            margin-top: 10px;
            padding: 10px;
            background-color: #bbbbbb;
            display: none;
        }

        #nav-container li:hover {
            background-color: #289930;
        }

        #nav-container li:hover ul.sub-menu {
            display: block;
            font-size: .8rem;
        }

        #nav-container li ul.sub-menu:hover {
            display: block;
        }

        #nav-container li li {
            float: none;
        }

        #nav-container li li a {
            margin: 10px 0;
        }


    #nav-right {
        float: right;
        margin-right: 10px;
    }

    #nav-right li a {
        margin: 10px 25px;
    }

#logo {
    display: inline;
}

    #logo img {
        height: 160px;
    }

#logo:hover {
    background-color: transparent;
}

#banner {
    font-size: 50pt;
    padding: 0 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}